
#interface-item {
    width: 900px;
    background-color: white;
    position: relative;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

#interface-item h1 {
    padding-left: 10px;
    padding-top: 10px;
    text-align: left;
    margin-bottom: 20px;
}

#craft {
    position: relative;
    width: 900px;
    height: 400px;
}

#tabela-item {
    display: block;
    position: relative;
    background-color: #606060;
    width: 400px;
    height: 300px;
    margin-bottom: 25px;
    border-radius: 10px;
    font-size: 12pt;
    display: inline-block;
}

#cabeca-tabela-item tr {
    display: block;
    position: relative;
    margin: 10px 5px 0px 5px;
    border: 1px solid orange;

}

#cabeca-tabela-item tr th {
    display: flex;
    display: inline-flex;
    margin: 10px 28.5px;
}

#corpo-tabela-item tr {
    width: 130px;
    display: block;
    position: relative;
    margin: 0px 5px;
    border: 1px solid orange;
}

#corpo-tabela-item tr td {
    display: flex;
    display: inline-flex;
    padding: 5px;
}

#igual {
    bottom: 160px;
    position: relative;
    font-size: 34pt;
    display: inline-block;

}

#texto-item {
    border-top: 2px solid #606060;
}

#resultado {
    display: block;
    position: relative;
    left: 450px;
    bottom: 315px;
    width: 400px;
}