@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    background: url('../_imagens/_fundo/foto-paisagem-quatro.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    font-size: 16pt;
}

.clear {
    clear: both;
}

div#nav {
    background-color: rgb(39, 39, 39);
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}

div#nav ul li {
    list-style: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    margin-left: 3px;
    margin-right: 3px;

}

div#nav ul li a {
    font-family: consolas, arial, sans-serif;   
    text-decoration: none;
    color: white;
}

div#nav ul li:hover {
    transition: 0.5s;
    background-color: rgba(80, 80, 80, 0.952);
}

footer {

    margin-top: 100px;
    display: block;
    position: relative;
    background: linear-gradient(to right, #606060, rgb(39, 39, 39) );
    color: #ffffff;
    height: 100px;
    text-align: center;
    padding: 10px 0px;
    line-height: 100px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

/*background: linear-gradient(90deg, rgb(10, 49, 6), rgb(16, 88, 7));*/